<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>書籍貸出画面</title>
  <link rel="stylesheet" type="text/css" href="css/book_lending.css">
</head>
<body>
  <form action="booklist" method="post">
    <p>返却予定日を入力してください。</p>
    <div>
      <label for="num">タイトル</label>
      <input type="text" name="title" th:value="${title}" id="title" value="Java" readonly>
    </div>
    <div>
      <label for="date">貸出日</label>
      <input type="date" name="today" th:value="${today}" id="today" value="2019-07-31" readonly>
    </div>
    <div>
      <label for="owner">所有者</label>
      <input type="text" name="owner" th:value="${owner}" id="owner" value="イクスイ" readonly>
    </div>
    <div>
      <label for="return">返却予定日</label>
      <input type="date" name="return" th:value="${return}" id="return">
    </div>
    <div class="button">
      <input type="button" name="back" value="戻る" class="borrow" onclick="location.href='booklist'">
      <input type="submit" name="borrow" value="借りる" class="borrow" >
    </div>
  </form>
</body>
</html>
