<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>書籍登録画面</title>
　<link rel="stylesheet" type="text/css" href="css/book_regist.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/header.js"></script>
</head>
<body>
  <div class="header-inner">
  </div>

  <form action="general_menu" method="post">
    <p>書籍登録</p>
    <div>
      <label for="title">タイトル</label>
      <input type="text" name="title" th:value="${title}" id="title">
    </div>
    <div>
      <label for="num">ISBN番号</label>
      <input type="text" name="isbn" th:value="${isbn}" id="isbn" minlength="13" maxlength="13">
    </div>
    <div>
      <label for="writer">著者</label>
      <input type="text" name="writer" th:value="${writer}" id="writer" >
    </div>
    <div>
      <label for="date">出版日</label>
      <input type="date" name="date" th:value="${date}" id="date" >
    </div>
    <div>
      <label for="owner">所有者</label>
      <input type="text" name="owner" th:value="${owner}" id="owner">
    </div>
    <div>
      <label for="image">画像</label>
      <input type="file" name="image" th:value="${image}" id="image" accept="image/*">
    </div>
    <div>
      <label for="star">評価</label>
      <input type="text" name="star" th:value="${star}" id="star">
    </div>
    <div>
      <label for="comment">コメント</label>
      <textarea name="comment" th:value="${comment}" rows="8" cols="20"></textarea>
    </div>
    <div>
     <input type="submit" name="borrow" value="登録" id="return">
    </div>
  </form>
</body>
</html>
